body{
    background-color: grey;
    text-align: center;
}

h1{
    font-family: 'DM Serif Text', serif;
    font-size: 7rem;
    color:aquamarine;
}

p{
    font-family: 'Shadows Into Light', cursive;
    color: aquamarine;
    font-size: 3.5rem;
}

footer{
   padding-top:100px;
    }